{% extends '@BDMNicolasFrontend/layout.html.twig' %}

{% block content %}

	<main>

		<div class="breadCrumb breadcrumb--border container">
            <ol class="breadCrumb-nav" role="navigation">
                <li class="breadCrumb-item"><a href="#" class="breadCrumb-link">Acceuil</a></li>
                <li class="breadCrumb-item"><a href="#" class="breadCrumb-link">Mon compte</a></li>
            </ol>
        </div>

        <div class="container account_header_section">
        	<div class="col-sm-2">
        		<a href="#" class="account_header_link">
        			< retour
        		</a>
        	</div>
        	<div class="col-sm-8 account_header_title">
        		Bienvenue Ali baba
        	</div>
        	<div class="col-sm-2"  style=" text-align: right;">
        		<a href="#" class="account_header_link">
        			X se déconnecter
        		</a>
        	</div>
        </div>

		<section class="container nsSection nsSection-gray" style="padding:3em;">
			<form action="/" method="post" class="nsForm" name="createAccount" id="edit_account_form">

                    	<fieldset>

	                        <p class="nsForm-elementContainer">
	                            <input id="signup_email" class="nsForm-input" name="edit_account_email" type="email" placeholder="Votre email" required>
	                        </p>
	                        <p class="nsForm-elementContainer">
	                            <input id="signup_password" class="nsForm-input" name="edit_account_password" type="password" placeholder="Votre mot de passe souhaité" required>
	                        </p>
	                        <p class="nsForm-elementContainer">
	                            <input id="signup_confirm_password" class="nsForm-input" name="edit_account_confirm_password" type="password" placeholder="confirmez votre mot de passe" required>
	                        </p>

	                        <div class="nsForm-subSection">
								<p class="nsForm-subtitle">
	                        	mes informations personnelles
		                        </p>

		                        <p class="nsForm-elementContainer">
		                            <input id="signup_firstName" class="nsForm-input" name="edit_account_firstName" type="text" placeholder="Nom*" required>
		                        </p>
		                        <p class="nsForm-elementContainer">
		                            <input id="signup_lastName" class="nsForm-input" name="edit_account_lastName" type="text" placeholder="Prénom*" required>
		                        </p>
	                        	
	                        	<p class="nsForm-elementContainer">
		                        	<span class="nsForm-label">Né(e) le</span>
		                        	<input id="signup_birthday" class="nsForm-input" name="edit_accountp_birthday" type="date">
		                        </p>
		                        <p class="nsForm-elementContainer">
		                            <input id="signup_adress1" class="nsForm-input" name="edit_account_adress1" type="text" placeholder="Adresse 1*" required>
		                        </p>
		                        <p class="nsForm-elementContainer">
		                            <input id="signup_adress2" class="nsForm-input" name="edit_account_adress2" type="text" placeholder="Adresse 2*" required>
		                        </p>
		                        <p class="nsForm-elementContainer">
		                            <input id="signup_zipCode" class="nsForm-input" name="edit_account_zipCode" type="text" placeholder="Code Postal*" required>
		                        </p>
		                        <p class="nsForm-elementContainer">
		                            <input id="signup_city" class="nsForm-input" name="edit_account_city" type="text" placeholder="Ville*" required>
		                        </p>
		                        <p class="nsForm-elementContainer">
		                            <input id="signup_phone" class="nsForm-input" name="edit_account_phone" type="text" placeholder="Téléphone" >
		                        </p>
		                    </div>

		                    <div class="nsForm-subSection">
	                        	<p class="nsForm-subtitle">
	                        	ma carte privilège
		                        </p>
		                         <p class="nsForm-elementContainer">
		                            <input id="signup_cardId" class="nsForm-input" name="edit_account_cardId" type="text" placeholder="Numéro de votre carte">
		                        </p>
		                    </div>

						</fieldset>
						<p class="nsForm-elementContainer nsForm-info">
                        	Les champs suivis d'une *  sont obligatoires
                    	</p>

						<button type="submit" class="nicoButton nicoButton-default nsForm-submit">
	                        <span class="nicoButton-content">
	                            <i class="nicoButton-icon ns-Icon ns-Icon--chevron"></i>
	                            Valider
	                        </span>
	                    </button>
        	</form>			
		</section>
	</main>

{% endblock %}

{% block front_end_css %}

{% endblock %}

{% block front_end_js %}
	
	<script type="text/javascript" src="{{ asset('assets/frontend/js/jquery.validate.min.js') }}"></script>
    <script>
        $(document).ready(function(){

        	$('#edit_account_form').validate({
        		rules: {
        			signup_email: {
        				required: true,
        				email: true
        			},
        			signup_password: {
        				required: true,
        				minlength: 5
        			},
        			signup_confirm_password: {
        				required: true,
        				minlength: 5,
        				equalTo: '#signup_password'
        			},
        			signup_birthday : {
        				required: true,
        				date: true
        			}
        		}
        	})
            

        });
    </script>

{% endblock %}