.icon-base-pseudo,
.ns-Icon--AGNEAU:before,
.ns-Icon--AMBRE:before,
.ns-Icon--BLANC:before,
.ns-Icon--BOUQUETE_CORSE_ET_A_POINT:before,
.ns-Icon--BOUQUETE_ET_A_LA_RESERVE:before,
.ns-Icon--BOUQUETE_ET_SOUPLE:before,
.ns-Icon--BRUN:before,
.ns-Icon--BRUNE:before,
.ns-Icon--CHARCUTERIES:before,
.ns-Icon--CLAIRET:before,
.ns-Icon--FOIE_GRAS:before,
.ns-Icon--FROMAGES_CORSES:before,
.ns-Icon--FROMAGES_DOUX:before,
.ns-Icon--FRUITE_ET_NERVEUX:before,
.ns-Icon--FRUITE_ET_PLEIN:before,
.ns-Icon--FRUIT_DE_MER:before,
.ns-Icon--FUITE_SOUPLE:before,
.ns-Icon--GIBIER:before,
.ns-Icon--GLACES_ET_SORBETS:before,
.ns-Icon--JAUNE:before,
.ns-Icon--PATISSERIES:before,
.ns-Icon--POISSONS_EN_SAUCE:before,
.ns-Icon--POISSONS_GRILLES:before,
.ns-Icon--ROSE:before,
.ns-Icon--ROUGE:before,
.ns-Icon--ROUSSE:before,
.ns-Icon--TARTES_AUX_FRUITS:before,
.ns-Icon--VIANDES_BLANCHES:before,
.ns-Icon--VIANDES_ROUGES:before,
.ns-Icon--arrow:before,
.ns-Icon--book:before,
.ns-Icon--bottle2:before,
.ns-Icon--bottle:before,
.ns-Icon--bullet:before,
.ns-Icon--bulletTitle:before,
.ns-Icon--calendar:before,
.ns-Icon--caracter:before,
.ns-Icon--cart:before,
.ns-Icon--chevron--bottom:before,
.ns-Icon--chevron--left:before,
.ns-Icon--chevron:before,
.ns-Icon--chevronLarge:before,
.ns-Icon--chevronLargeBottom:before,
.ns-Icon--clickncollect:before,
.ns-Icon--close:before,
.ns-Icon--cross:before,
.ns-Icon--deliveryStore:before,
.ns-Icon--disabledAccess:before,
.ns-Icon--download:before,
.ns-Icon--facebook:before,
.ns-Icon--freshWine:before,
.ns-Icon--gastronomicAdvice:before,
.ns-Icon--gift:before,
.ns-Icon--google:before,
.ns-Icon--hamburger:before,
.ns-Icon--health:before,
.ns-Icon--home:before,
.ns-Icon--house:before,
.ns-Icon--icecubeService:before,
.ns-Icon--instagram:before,
.ns-Icon--intervina:before,
.ns-Icon--knurr:before,
.ns-Icon--lock2:before,
.ns-Icon--lock:before,
.ns-Icon--loyaltyProgram:before,
.ns-Icon--mail:before,
.ns-Icon--nicolas:before,
.ns-Icon--nicolasn:before,
.ns-Icon--optimalService:before,
.ns-Icon--pin2:before,
.ns-Icon--pin:before,
.ns-Icon--pinterest:before,
.ns-Icon--profil:before,
.ns-Icon--question:before,
.ns-Icon--rating:before,
.ns-Icon--ratingCheck:before,
.ns-Icon--recipe:before,
.ns-Icon--seasonalTasting:before,
.ns-Icon--shell:before,
.ns-Icon--shipping:before,
.ns-Icon--stars:before,
.ns-Icon--stoppeCork:before,
.ns-Icon--tel2:before,
.ns-Icon--tel:before,
.ns-Icon--threehours:before,
.ns-Icon--top:before,
.ns-Icon--trash:before,
.ns-Icon--twitter:before,
.ns-Icon--untaxed:before,
.ns-Icon--valid:before,
.ns-Icon--wine:before,
.ns-Icon--youtube:before,
.ns-TitleSection-icon:before,
.ns-TitleSuggest-icon:before {
    font-family: icons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none
}
.ns-Button,
.ns-Button--logout,
.ns-Title,
.ns-TitleSection {
    text-transform: uppercase
}
.ns-Icon--AGNEAU:before {
    content: "\E001"
}
.ns-Icon--AMBRE:before {
    content: "\E002"
}
.ns-Icon--arrow:before {
    content: "\E003"
}
.ns-Icon--BLANC:before {
    content: "\E004"
}
.ns-Icon--book:before {
    content: "\E005"
}
.ns-Icon--bottle:before {
    content: "\E006"
}
.ns-Icon--bottle2:before {
    content: "\E007"
}
.ns-Icon--BOUQUETE_CORSE_ET_A_POINT:before {
    content: "\E008"
}
.ns-Icon--BOUQUETE_ET_A_LA_RESERVE:before {
    content: "\E009"
}
.ns-Icon--BOUQUETE_ET_SOUPLE:before {
    content: "\E00A"
}
.ns-Icon--BRUN:before {
    content: "\E00B"
}
.ns-Icon--BRUNE:before {
    content: "\E00C"
}
.ns-Icon--bullet:before {
    content: "\E00D"
}
.ns-Icon--bulletTitle:before {
    content: "\E00E"
}
.ns-Icon--calendar:before {
    content: "\E00F"
}
.ns-Icon--caracter:before {
    content: "\E010"
}
.ns-Icon--cart:before {
    content: "\E011"
}
.ns-Icon--CHARCUTERIES:before {
    content: "\E012"
}
.ns-Icon--chevron--bottom:before {
    content: "\E013"
}
.ns-Icon--chevron--left:before {
    content: "\E014"
}
.ns-Icon--chevron:before {
    content: "\E015"
}
.ns-Icon--chevronLarge:before {
    content: "\E016"
}
.ns-Icon--chevronLargeBottom:before {
    content: "\E017"
}
.ns-Icon--CLAIRET:before {
    content: "\E018"
}
.ns-Icon--clickncollect:before {
    content: "\E019"
}
.ns-Icon--close:before {
    content: "\E01A"
}
.ns-Icon--cross:before {
    content: "\E01B"
}
.ns-Icon--deliveryStore:before {
    content: "\E01C"
}
.ns-Icon--disabledAccess:before {
    content: "\E01D"
}
.ns-Icon--download:before {
    content: "\E01E"
}
.ns-Icon--facebook:before {
    content: "\E01F"
}
.ns-Icon--FOIE_GRAS:before {
    content: "\E020"
}
.ns-Icon--freshWine:before {
    content: "\E021"
}
.ns-Icon--FROMAGES_CORSES:before {
    content: "\E022"
}
.ns-Icon--FROMAGES_DOUX:before {
    content: "\E023"
}
.ns-Icon--FRUITE_ET_NERVEUX:before {
    content: "\E024"
}
.ns-Icon--FRUITE_ET_PLEIN:before {
    content: "\E025"
}
.ns-Icon--FRUIT_DE_MER:before {
    content: "\E026"
}
.ns-Icon--FUITE_SOUPLE:before {
    content: "\E027"
}
.ns-Icon--gastronomicAdvice:before {
    content: "\E028"
}
.ns-Icon--GIBIER:before {
    content: "\E029"
}
.ns-Icon--gift:before {
    content: "\E02A"
}
.ns-Icon--GLACES_ET_SORBETS:before {
    content: "\E02B"
}
.ns-Icon--google:before {
    content: "\E02C"
}
.ns-Icon--hamburger:before {
    content: "\E02D"
}
.ns-Icon--health:before {
    content: "\E02E"
}
.ns-Icon--home:before {
    content: "\E02F"
}
.ns-Icon--house:before {
    content: "\E030"
}
.ns-Icon--icecubeService:before {
    content: "\E031"
}
.ns-Icon--instagram:before {
    content: "\E032"
}
.ns-Icon--intervina:before {
    content: "\E033"
}
.ns-Icon--JAUNE:before {
    content: "\E034"
}
.ns-Icon--knurr:before {
    content: "\E035"
}
.ns-Icon--lock:before {
    content: "\E036"
}
.ns-Icon--lock2:before {
    content: "\E037"
}
.ns-Icon--loyaltyProgram:before {
    content: "\E038"
}
.ns-Icon--mail:before {
    content: "\E039"
}
.ns-Icon--nicolas:before {
    content: "\E03A"
}
.ns-Icon--nicolasn:before {
    content: "\E03B"
}
.ns-Icon--optimalService:before {
    content: "\E03C"
}
.ns-Icon--PATISSERIES:before {
    content: "\E03D"
}
.ns-Icon--pin:before {
    content: "\E03E"
}
.ns-Icon--pin2:before {
    content: "\E03F"
}
.ns-Icon--pinterest:before {
    content: "\E040"
}
.ns-Icon--POISSONS_EN_SAUCE:before {
    content: "\E041"
}
.ns-Icon--POISSONS_GRILLES:before {
    content: "\E042"
}
.ns-Icon--profil:before {
    content: "\E043"
}
.ns-Icon--question:before {
    content: "\E044"
}
.ns-Icon--rating:before {
    content: "\E045"
}
.ns-Icon--ratingCheck:before {
    content: "\E046"
}
.ns-Icon--recipe:before {
    content: "\E047"
}
.ns-Icon--ROSE:before {
    content: "\E048"
}
.ns-Icon--ROUGE:before {
    content: "\E049"
}
.ns-Icon--ROUSSE:before {
    content: "\E04A"
}
.ns-Icon--seasonalTasting:before {
    content: "\E04B"
}
.ns-Icon--shell:before {
    content: "\E04C"
}
.ns-Icon--shipping:before {
    content: "\E04D"
}
.ns-Icon--stars:before {
    content: "\E04E"
}
.ns-Icon--stoppeCork:before {
    content: "\E04F"
}
.ns-Icon--TARTES_AUX_FRUITS:before {
    content: "\E050"
}
.ns-Icon--tel:before {
    content: "\E051"
}
.ns-Icon--tel2:before {
    content: "\E052"
}
.ns-Icon--threehours:before {
    content: "\E053"
}
.ns-Icon--top:before {
    content: "\E054"
}
.ns-Icon--trash:before {
    content: "\E055"
}
.ns-Icon--twitter:before {
    content: "\E056"
}
.ns-Icon--untaxed:before {
    content: "\E057"
}
.ns-Icon--valid:before {
    content: "\E058"
}
.ns-Icon--VIANDES_BLANCHES:before {
    content: "\E059"
}
.ns-Icon--VIANDES_ROUGES:before {
    content: "\E05A"
}
.ns-Icon--wine:before {
    content: "\E05B"
}
.ns-Icon--youtube:before {
    content: "\E05C"
}