// --------------------------------------------------
//  nicolas: variables
// --------------------------------------------------


//== Colors
$first-color: 			#fcb714;	// yellow
$second-color: 			#541617; 	// burgundy
$third-color: 			#ff7300; 	// orange

$brand-primary:         $first-color;


//== Scaffolding
$text-color:        	#333;


//== Typography
$font-raleway:			'Raleway';
$font-gotham-rounded: 	'Gotham Rounded', Helvetica, Arial, sans-serif;
$font-anke:				'Anke Calligraphic', Helvetica, Arial, sans-serif;

$font-family-sans-serif:  'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif ;

//== Iconography



