/********************************************
 * 				Sectons utils				*
 ********************************************/

 .nsSection {
 	padding-top: 3em;
 	padding-bottom:4em;
 }

 .nsSection-gray {
 	background: #f7f4eb;
 }

 .nsMargin-bottom {
 	margin-bottom: 1em;
 }